 window {
 font-size: 30px;
 font-family: 'FantasqueSansMNF-Regular';
 background-color: transparent;
 }

 #outer-box {
 border-radius: 10px;
 background: linear-gradient( to right , #4296B6 , #03A5D8 );
 padding: 4px;
 }

 #input {
 background-color: #77deef;
 border-radius: 5px;
 color: #B4C92B;
 padding: 0.25em;
 border: none
 box-shadow: none;
 }

 #input:focus {
 border-radius: 5px;
 outline: none;
 box-shadow: none;
 }

 #inner-box {
 padding-top: 5;
 }

 #img {
 border-right: 3px solid #0D659C;
 }

 #text {
 color: #B4C92B;
 font-weight: lighter;
 }

 #text:selected {
 font-family: 'IntoneMonoNF';
 color: #3E6498;
 font-weight: normal;
 }

 #entry {
 background-color: rgba( 119 , 222 , 239 , 0.6 );
 padding: 0.30em;
 }

 #entry:selected {
 background: linear-gradient( 10deg , #77deef , #4296B6 );
 }

 image {
 margin-left: 0.25em;
 margin-right: 0.25em;
 padding-right: 10px;
 }
