 window {
 font-size: 30px;
 font-family: 'FantasqueSansMNF-Regular';
 background-color: transparent;
 }

 #outer-box {
 border-radius: 10px;
 background: linear-gradient( to right , #D8A797 , #BBC8AD );
 padding: 4px;
 }

 #input {
 background-color: #e9dfcc;
 border-radius: 5px;
 color: #776386;
 padding: 0.25em;
 border: none
 box-shadow: none;
 }

 #input:focus {
 border-radius: 5px;
 outline: none;
 box-shadow: none;
 }

 #inner-box {
 padding-top: 5;
 }

 #img {
 border-right: 3px solid #AA7694;
 }

 #text {
 color: #776386;
 font-weight: lighter;
 }

 #text:selected {
 font-family: 'IntoneMonoNF';
 color: #A79C9F;
 font-weight: normal;
 }

 #entry {
 background-color: rgba( 233 , 223 , 204 , 0.6 );
 padding: 0.30em;
 }

 #entry:selected {
 background: linear-gradient( 10deg , #e9dfcc , #D8A797 );
 }

 image {
 margin-left: 0.25em;
 margin-right: 0.25em;
 padding-right: 10px;
 }
