 window {
 font-size: 30px;
 font-family: 'FantasqueSansMNF-Regular';
 background-color: transparent;
 }

 #outer-box {
 border-radius: 10px;
 background: linear-gradient( to right , #DAA1D7 , #86CDFC );
 padding: 4px;
 }

 #input {
 background-color: #cae4ee;
 border-radius: 5px;
 color: #B271C0;
 padding: 0.25em;
 border: none
 box-shadow: none;
 }

 #input:focus {
 border-radius: 5px;
 outline: none;
 box-shadow: none;
 }

 #inner-box {
 padding-top: 5;
 }

 #img {
 border-right: 3px solid #AE9EBD;
 }

 #text {
 color: #B271C0;
 font-weight: lighter;
 }

 #text:selected {
 font-family: 'IntoneMonoNF';
 color: #D097A1;
 font-weight: normal;
 }

 #entry {
 background-color: rgba( 202 , 228 , 238 , 0.6 );
 padding: 0.30em;
 }

 #entry:selected {
 background: linear-gradient( 10deg , #cae4ee , #DAA1D7 );
 }

 image {
 margin-left: 0.25em;
 margin-right: 0.25em;
 padding-right: 10px;
 }
